<h5>Available exams in the platform:</h5>

<alert type="info" dismissible="true" *ngIf="exams.length<=0">
  There are no exams in the Platform.
</alert>
<alert type="success" dismissible="true" *ngIf="deleteSuccess">
  Exam deleted Successfully.
</alert>
<alert type="danger" dismissible="true" *ngIf="deleteFail">
  Error deleting Exam.
</alert>

<alert type="danger" dismissible="true" *ngIf="exportFail">
  There are no grades available for the selected Exam
</alert>

<label *ngIf="exams.length > 0" for="disabledSelect">Order:</label>
<select *ngIf="exams.length > 0" class="form-control exam-filter" (change)="changeSorter($event.target.value)">
    <option value="date" selected>Date</option>
    <option value="status">Status</option>
    <option value="name">Name</option>
</select>

<div *ngIf="exams.length > 0" style="overflow-x:auto;" class="table-responsive">
  <table class="table">
    <thead>
    <!--<p>EXAMS TABLE!!</p>-->
      <tr>
        <th>Exam</th>
        <th>Degree</th> 
        <th>Class</th>
        <th>Date</th>
        <th>Code Language</th>
        <th>Status</th>
      </tr>
  </thead>
    <tbody>
      <tr *ngFor="let ex of exams | sort:selectedSorter" [class.selected-row]="isSelected(ex.id)" (click)="selectRow(ex)">
          <td>{{ex.name}}</td>
          <td>{{ex.degree}}</td> 
          <td>{{ex.course}}</td>
          <td>{{ex.date | date:'fullDate'}}</td>
          <td>{{ex.language}}</td>
          <td>{{ex.status | status}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="exams.length > 0" class="text-center">
  <button class="btn blue-bg edit-btn" type="submit" (click)="editExam()" [disabled]="!this.selectedExam.id">Edit</button>

  <button class="btn blue-bg delete-btn" type="button" (click)="showChildModal()" [disabled]="!this.selectedExam.id">Delete</button>

  <button class="btn blue-bg export-btn" type="submit" (click)="exportGrade()" [disabled]="!this.selectedExam.id">Export Grade</button>

  <button class="btn blue-bg global-btn" type="submit" (click)="globalView()" [disabled]="!this.selectedExam.id">Global View</button>

  <button class="btn blue-bg import-btn" type="submit" (click)="importSubmission()" [disabled]="!this.selectedExam.id">Import Submissions</button>
</div>

<!--Modal for delete exam-->
<div bsModal #deleteModal="bs-modal" id="modalDelete" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
 <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Delete Exam</h3>
      </div>
      <div class="text-center"><p>Are you sure you want to delete?</p>
        <p>All exercises and respective subsmissions will also be deleted.</p>
        <button type="button" class="btn btn-modalyes" (click)="deleteExam()">Yes</button>
        <button type="button" class="btn btn-modalno" (click)="hideChildModal()">No</button>
      </div>
    </div>

  </div>
</div>
   