.page-header{
    display: inline-block;
    padding-left: 15px;
    width: 100%;
    background: #6D7993;
    color: white;
    margin-top: 0 !important;
}

.page-header h4, .page-header h6{
    padding-right:20px;
    display: inline-block;
}

.selected-row{
    background-color: #6D7993;
}

.table:hover{
    cursor: pointer;
}

.italic-red{
    color:red;
    font-style: italic;
}

.sub-detail-btn{
    margin-top:7px;
}

.modal-body-header h4, .modal-body-header h5, {
    display: inline-block;
}

.modal-body h5{
    margin-left:5px;
}

.question{
    border-bottom: 1px solid black;
}

.legend{
    margin-top: 10px;
}

.legend p{
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 14px;
}

.red{
    color:red;
    font-style: italic;
}

.averages{
    font-weight: bolder !important;
    margin-top: 10px;
}

.detail{
    font-size:11px;
}