<div class="input-group">
  <span class="input-group-addon" id="exam-name">Exam Name</span>
  <input type="text" class="form-control" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="exam-degree">Degree</span>
  <input type="text" class="form-control" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="exam-class">Class</span>
  <input type="text" class="form-control"  aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="exam-date">Date</span>
  <input type="date" class="form-control"  aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="exam-language">Code Language</span>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
   </select>
</div>