.input-group {
    margin-bottom: 20px;
}

.input-group span {
    min-width: 125px;
} 

.input-group select{
    border-radius: 0px !important;
}

.input-group.error, .form-group.error{
    border: 1px solid red;
}

form {
    margin-bottom: 20px;
}

alert {
    margin: 0 auto;
    padding-top: 20px !important;
    text-align: center;
}

alert span{
    font-weight: bold;
}