table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}


th, td {
    vertical-align: center;
}

td {
    height: 20px; 
    text-align: left;
}

th {
    height: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

.selected-row{
    background-color: #6D7993;
}