<div class="page-header">
    <h4>Exam Information</h4>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 ">
        <div class="row">
            <student-code style="width:100%">{{code}}</student-code>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Code Output</p>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="panel panel-default panel-criteria">
            <div class="panel-heading">
                <p>Evaluation Criteria</p>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>