<div class="page-header">
    <h4>{{exam.name}}</h4>
    <h6>{{exam.degree}}</h6>
    <h6>{{exam.date | date:'fullDate'}}</h6>
    <h6>{{exam.course}}</h6>
    <h4>{{exercise.name}}</h4>
    <div style="float:right; display:inline-block">
        <h4>{{student.name}}</h4>
        <h6>{{student.username}}</h6>
    </div>
</div>

<alert type="danger" dismissible="true"
       *ngIf="gradeError">There was an error in the submission</alert>
<alert type="success" dismissible="true"
       *ngIf="gradeSuccess_">Submission Graded Successfully</alert>

<div class="row">
    <div class="col-xs-12 col-sm-8 ">
        <div class="row">
            <div class="panel panel-default code-panel" style="width:100%">
                <div class="panel-heading">
                    <p>Submission Code</p>
                </div>
                <div class="panel-body panel-code">
                    <pre>
                        <code #code highlight class="C">
                            {{testLongCode}}
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Code Output</p>
                </div>
                <div class="panel-body panel-output">
                    {{testLongString}}
            <!--        {{submission.output}}-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 ">
        <div class="panel panel-default panel-criteria">
            <div class="panel-heading">
                <p>Evaluation Criteria</p>
            </div>
            <div class="panel-body">
                <form (ngSubmit)="saveEvaluation()" #saveSubmissionForm="ngForm">
                    <span class="question-title">Question: </span><br>
                    <div class="exercise-question">{{exercise.question}}</div>
                    <div class="form-group row" *ngFor="let crit of criteria; let i = index">
                        <label for="example-text-input" class="col-xs-7 col-form-label">{{crit.criteria.description}}</label>
                        <div class="col-xs-3">
                            <select class="form-control form-control-sm"
                                    [(ngModel)]="criteria[i].grade" 
                                    #name="ngModel" 
                                    name="grade" 
                                    required>
                                <option *ngFor="let num of createArray(crit.criteria.gama)" 
                                        [value]="num"
                                        [selected] = "select(num, crit.grade)" >{{num}}</option>
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <span>/{{crit.criteria.gama}}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block"
                                [disabled] = "existsUngraded()" ><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Evaluation</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <!--comment-->
        <textarea class="comment"
                [class.green-border]="successComment"
                [(ngModel)]="comment" 
                #name="ngModel" 
                name="grade" 
                required></textarea>
        <button type="button" class="btn" (click)="saveComment()"
                [disabled]="comment.trim().length<=0"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>Insert Comment</button>
    </div>

    <div class="col-xs-6 col-md-4 student-panel"></div>
    <div class="col-xs-6 col-md-4 student-panel">
        <h6>Current Score: {{calcTotalGrade(criteria)}}%, or
            {{calcTotalGrade(criteria) * 20 * exercise.weight * 0.0001}} values (out of 20)</h6>
        <h6>This exercise is worth {{exercise.weight}}% of the Exam</h6>
        <h6>Status: <span [class.green]="isSubmitted()" [class.red]="!isSubmitted()">{{submission.status | submissionStatus}}</span></h6>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="button-group">
        <button [disabled] = !hasPreviousSubmission() (click)="navigatePrevious()" class="nav-button">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
        <a (click)="goHome()"><i class="fa fa-home" aria-hidden="true"></i></a>
        <button [disabled] = "!hasNextSubmission()" (click)="navigateNext()" class="nav-button">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
        <button class="logout-btn" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
        <img class="Header-logo-image" src="./../../images/ACE_Logo_resized.png" alt="ACELogo" />
 
    </div>
</nav>