.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

pre, code{
    margin: 0 !important;
    padding: 0 !important;
}  

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.panel-criteria{
    height:100%;
}

.panel{
    width:100%;
}

.navbar{
    background-color: #96858F;
    text-align: center;
}

a i {
    color: black;
}

.fa-home{
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-chevron-circle-left, .fa-chevron-circle-right{
    font-size: 30px;
    padding-bottom: 5px;
}