<div class="Header-logo" align="middle">
    <a href="/">
        <img class="Header-logo-image" src="./../../images/ACE_Logo_resized.png" alt="ACELogo" align="middle" />
    </a>
</div>

<!-- Header -->

<div class="page-header">
    <h5 style="display:inline-block">{{examiner.name}}: <small>{{examiner.username}}</small></h5>
    <button style="display:inline-block; float:right;" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
</div>

<div class="row filters">
    <!--<span class="input-group-addon" id="exercise-status">Exam Status</span>-->
    <div class="col-xs-3"> Exam Status
        <select class="form-control full" [(ngModel)]="statusFilter" name="degree">
          <option selected value="">All</option>
          <option value="O">Open</option>
          <option value="C">Closed</option>
        </select>
<!--        (change)="filterByStatus($event.target.value)"
-->    </div>
    <div class="col-xs-3">
        Degree<br>
        <input class="full" type="text" name="FirstName" [(ngModel)]="degreeFilter">
    </div>

<!--    (keypress)="filterByDegree($event.target.value)"
--></div>

<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Exercises Assigned to Me</div>
            <div class="panel-body criteria-panel">
                <p *ngIf="exercises.length <= 0">You currently have no exercises assigned to you.</p>
                <div class="table-responsive" *ngIf="exercises.length > 0">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Exercise</th>
                                    <th>Degree</th>
                                    <th>Course</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ex of exercises | filter:'status':statusFilter | filter:'degree':degreeFilter" [class.selected-row]="isSelected(ex.id)" (click)="selectRow(ex)">
                                    <td>{{ex.name}}</td>
                                    <td>{{ex.exam.degree}}</td>
                                    <td>{{ex.exam.course}}</td>
                                    <td>{{ex.exam.dateString}}</td>
                                    <td>{{getStatus(ex)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default" *ngIf="exercises.length > 0">
            <div class="panel-heading">Submissions</div>
            <div class="panel-body">
                <p *ngIf = "!selectedExercise.id">Please select an Exercise.</p>
                <p *ngIf="submissions.length <= 0 && !!selectedExercise.id">This exercise has no Submissions.<p>
                <div class="table-responsive" *ngIf="submissions.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Grade (%)</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let su of submissions"  [class.selected-row]="isSelectedSubmission(su.id)" (click)="selectRowSubmission(su)">
                                <td>{{su.student.username}}</td>
                                <td>{{(su.status === "O") ? "" : su.grade}}</td>
                                <td>{{getStatus(su)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <div *ngIf="submissions.length > 0">
                        <h6>Comment</h6>
                        <textarea class="full" width="100%" id="comments" 
                                disabled rows="4" cols="100" [value]="getComment()">{{this.comments}}
                        </textarea>
                    </div>
                    <button *ngIf="submissions.length > 0" class="btn" (click)="onSelect(submission)" [disabled]="shouldDisableButton()">Select Submission</button>
            </div>
        </div>
    </div>

</div>
