span.error-message{
  color:red;
  margin: 5px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Vollkorn', serif !important;
}

p, li, a, input, select, button, div, textarea, label{
  font-family: 'Quattrocento Sans', sans-serif;
}

a{
  cursor: pointer;
}

.blue-bg{
  background-color: #6D7993 !important;
  color:white !important;
}


